// Website Color definition
//$hue1TextColor: get_contrast($hue1BgColor, darken($hue1BgColor, 45%), lighten($hue1BgColor, 45%));

$site-bg:             #959086;
$page-bg:             #cecbc4;
$whiteframe-bg:       #f6f5f2;


$site-x-color:        #058290;
$site-color:          #504b43;
$site-color-lighten:  #847F75;
$site-color-darken:   #504b43;