<% if defined? @category %>
  <% section_title = "Produse din categoria <strong>#{@category.description}</strong>".html_safe %>
<% else %>
  <% section_title = "<strong>Toate</strong> produsele".html_safe %>
<% end %>
<section id="category-products" class="product-grid">
  <h1 class="section-title"><%= section_title -%></h1>
  
  <%= render :partial => "product", :collection => @products %>
</section><!-- .grid-products -->